{% extends 'laboratory/base_lab.html' %}

{% block title %}{{ line_name }}{% endblock %}

{% block content %}
    <h2>{{ line_name }}</h2>
    <label for="paramSelect">Выберите параметр:</label>
    <select id="paramSelect">
        <option value="Температура">Температура</option>
        <option value="Влажность">Влажность</option>
    </select>
    <div class="button-container">
        <div id="errorMessage" style="color: red;"></div>
    </div>


    <div>
        <label for="startDate">От:</label>
        <input type="date" id="startDate">
        <label for="end_data">До:</label>
        <input type="date" id="end_data">
    </div>

    <div class="chart-container">
        <!-- График температуры -->
        <canvas id="temperatureChartid" width="400" height="200"></canvas>
    </div>

    <div class="chart-container">
        <!-- График влажности -->
        <canvas id="humidityChartid"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata"></script>

    <script>
        var chambers =  new Array();
        {% for chamber in unique_chambers %}
            chambers.push('{{ chamber.chamber }}')
        {% endfor %}
        console.log(chambers)
        var temperatureChart = null;
        var humidityChart = null;
        var temperature_El = document.getElementById('temperatureChartid');
        var humidity_El = document.getElementById('humidityChartid');
        $(document).ready(async function () {
            var line_id = {{ line_id }};
            fetchDataAndUpdateCharts(line_id);

            $('#paramSelect, #startDate, #end_data').change(function () {
                fetchDataAndUpdateCharts(line_id);
            });

            setInterval(async function () {
                var sensor = $('#paramSelect').val();
                if (sensor == 'Температура') {
                    var color = 'rgba(255, 99, 132, 1)';
                } else {
                    var color = 'rgba(75, 192, 192, 1)';
                };

                try {
                    var temperature_data =  fetchSensorData(line_id, chambers[0]);
                    var humidity_data =  fetchSensorData(line_id, chambers[1]);

                    console.log(temperature_data)

                    if (!temperatureChart) {
                        temperatureChart = initializeChart(
                            temperature_data.labels,
                            temperature_El,
                            'Камеры: 1, 2',
                            0,
                            80,
                            color,
                            'temperatureChartid'
                        );
                        updateChart(temperature_data, temperatureChart, sensor, 'Камеры: 1, 2');
                    } else {
                        updateChart(temperature_data, temperatureChart, sensor, 'Камеры: 1, 2');
                    }

                    if (!humidityChart) {
                        humidityChart = initializeChart(
                            humidity_data.labels,
                            humidity_El,
                            'Камеры: 3, 4',
                            0,
                            80,
                            color,
                            'humidityChartid'
                        );
                        updateChart(humidity_data, humidityChart, sensor, 'Камеры: 3, 4');
                    } else {
                        updateChart(humidity_data, humidityChart, sensor, 'Камеры: 3, 4');
                    }

                } catch (error) {
                    console.error(error);
                }
            }, 300000);
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function fetchDataAndUpdateCharts(line_id) {
            try {
                var sensor = $('#paramSelect').val();
                console.log("Показания для датчика " + sensor)
                if (sensor == 'Температура') {
                    var color = 'rgba(255, 99, 132, 1)';
                } else {
                    var color = 'rgba(75, 192, 192, 1)';
                };
                var temperature_data =  fetchSensorData(line_id, chambers[0]);
                var humidity_data =  fetchSensorData(line_id, chambers[1]);

                console.log("Данные полученые при обновлении", temperature_data)
                console.log(temperatureChart)

                if (!temperatureChart) {
                    temperatureChart = initializeChart(
                        temperature_data.labels,
                        temperature_El,
                        'Камеры: 1, 2',
                        0,
                        80,
                        color,
                        'temperatureChartid'
                    );
                    updateChart(temperature_data, temperatureChart,sensor, 'Камеры: 1, 2');
                } else {
                    updateChart(temperature_data, temperatureChart, sensor, 'Камеры: 1, 2');
                }

                if (!humidityChart) {
                    humidityChart = initializeChart(
                        humidity_data.labels,
                        humidity_El,
                        'Камеры: 3, 4',
                        0,
                        80,
                        color,
                        'humidityChartid'
                    );
                    updateChart(humidity_data, humidityChart, sensor, );
                } else {
                    updateChart(humidity_data, humidityChart, sensor, 'Камеры: 3, 4');
                }
            } catch (error) {
                console.error(error);
            }
        };

        function fetchSensorData(line_id, chamber) {
            var sensor = $('#paramSelect').val();
            if (sensor == 'Температура') {
                sensor = "air_temp";
            } else {
                sensor = "humidity";
            };
            var startDate = $('#startDate').val(); 
            var end_data = $('#end_data').val(); 
            var interpolation_points = 300;
            var data_request = "line_id=" + line_id + "&chamber=" + chamber + "&start_date=" + startDate + "&sensor_type=" + sensor +
                                "&end_data=" + end_data + "&interpolation_points=" + interpolation_points;

            var apiUrl = "{% url 'laboratory:get_sensors_data' %}?" + data_request;
            
            var result;

            $.ajax({
                url: apiUrl,
                type: 'GET',
                async: false,  
                success: function (data) {
                    if (data.labels === null) {
                        $('#errorMessage').text(data.error).show();
                        console.log("Данные отсутствуют")
                        result = {labels:{}, };
                    } else {
                        $('#errorMessage').text(data.error).show();
                        result = data;
                    }
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                    result = {};
                }
            });

            return result;
        }

        function updateChart(data, chart, sensor, chamber_name) {
            if (!chart) {
                console.log('Chart error');
                return;
            }

            const visiblePoints = 288;
            const emptyPoint = null;

            var color, lineName;

            if (sensor === 'Температура') {
                color = 'rgba(255, 99, 132, 1)';
            } else {
                color = 'rgba(75, 192, 192, 1)';
            }

            if (data.labels && data.values && data.labels.length > 0 && data.values.length > 0) {
                const totalPoints = data.labels.length;
                const additionalEmptyPoints = Math.round(totalPoints * 0.1);

                // Оставляем только последние visiblePoints точек и добавляем 20% пустых точек в конец
                const lastLabels = data.labels.slice(-visiblePoints);
                const lastValues = data.values.slice(-visiblePoints);

                const extendedLabels = [...lastLabels, ...Array(additionalEmptyPoints).fill(emptyPoint)];
                const extendedValues = [...lastValues, ...Array(additionalEmptyPoints).fill(emptyPoint)];

                chart.data.labels = extendedLabels;
                chart.data.datasets[0].data = extendedValues;
            } else {
                // Если нет данных, создаем пустой график
                chart.data.labels = [emptyPoint];
                chart.data.datasets[0].data = [emptyPoint];
                
            }

            // lineName = sensor + ' ' + chamber_name;
            chart.data.datasets[0].borderColor = color;
            // chart.options.title.text = lineName;
            chart.update();
        }
        
        function initializeChart(labels, elementChar, chart_label, min_y, max_y, color, id) {
            var canvasId = id;
            var existingCanvas = document.getElementById(canvasId);

            if (existingCanvas) {
                var ctx = existingCanvas.getContext('2d');

                var newChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels.map(label => moment(label, 'HH:mm:ss')),
                        datasets: [{
                            label: chart_label,
                            data: [],
                            borderColor: color,
                            borderWidth: 1,
                            fill: false,
                            cubicInterpolationMode: 'monotone',
                            responsive: true,
                            maintainAspectRatio: false
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                time: {
                                    unit: 'second',
                                    tooltipFormat: 'HH:mm:ss'
                                },
                            },
                            y: {
                                min: min_y,
                                max: max_y
                            }
                        },
                        plugins: {
                            zoom: {
                                pan: {
                                    enabled: true,
                                    mode: 'x',
                                    speed: 10,
                                },
                                zoom: {
                                    wheel: {
                                        enabled: true,
                                    },
                                    pinch: {
                                        enabled: true,
                                    },
                                    mode: 'x',
                                }
                            },
                        }
                    }
                });

                return newChart;
            } else {
                console.error("Canvas with id " + canvasId + " not found.");
                return null;
            }
        }



        function checkThreadStatus(line_id, chamber) {
            var apiUrl = "{% url 'laboratory:check_thread_status' %}?line_id=" + line_id + "&chamber=" + chamber;
            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    if (data.status === 'running') {
                        updateButtonStatus('running');
                        if (data.exception_info) {
                            $('#errorMessage').text(data.exception_info[1]);
                        }  
                    } else if (data.status === 'error') {
                        updateButtonStatus('error');
                        console.log(data.exception_info)
                        $('#errorMessage').text('Ошибка чтения ПЛК: ' + data.exception_info);  // Выводим сообщение об ошибке
                    } else if (data.status === 'stopped') {
                        updateButtonStatus('stopped');
                        $('#errorMessage').text('');

                    }
                },
                error: function (error) {
                    console.error('Error checking thread status:', error);
                    updateButtonStatus('error');  
                    $('#errorMessage').text(data.message);  
                }
            });
        };

        function updateButtonStatus(status) {
            var startButton = $('#startButton');
            var stopButton = $('#stopButton');
            var statusIndicator = $('#statusIndicator');

            switch (status) {
                case 'running':
                    statusIndicator.css('background-color', 'green');
                    break;
                case 'stopped':
                    statusIndicator.css('background-color', 'red');
                    break;
                default:
                    statusIndicator.css('background-color', '');
                    // Обработка других возможных статусов, если необходимо
                    break;
            }
        };

    </script>

{% endblock %}
